html {
    font-family: sans-serif;
  }
  
  #settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #settings input {
    width: 100%;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: center;
  }
  
  #display {
    width: auto;
    height: auto;
    font-size: 20vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
  }